*{
    padding:0px;
    box-sizing:border-box;
    margin:0px;
}
.newsDashboard{
  position: relative;
    height:100vh;
      display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 1fr;
}
::selection {
  color:white ;
  background-color: black;
}