*{
    padding:0px;
    box-sizing:border-box;
    margin:0px;
}
.newsDashboard{
  position: relative;
    height:100vh;
      display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 1fr;
}
::selection {
  color:white ;
  background-color: black;
}

@media screen and (max-width:600px)
{
  
form{
  margin:30px;
  width:90% !important;
  padding: 20px  !important;
}
}