.description{

padding:100px

}
header p{
    font-size: 29px;
    text-transform:capitalize;
    padding-bottom:50px;
}
.desc{
    padding:50px 50px 50px 50px;
    
    font-family:Lucida Bright ;
 letter-spacing: 5px;
 line-height: 1.8;
}

header img{
    width:70%;
    padding-left:10%;
}
@media screen and (max-width:600px)
{
    .description{
        padding:30px;
    }
    .desc{

    padding:50px 10px 50px 10px;
    }
    header img {
        width:100%;
        padding-left:1%;
    }
}
@media screen and (max-width:900px)
{
    header img{
        width:90%
    }
}