.news {
padding:20px;
}
h4{
    padding-left:40%;
    border-bottom:4px solid lightgray;
    border-radius:19px;
    font-size: 20px;
    padding-bottom:30px;
}
h4 span{
    color:#2de3da;
    font-size: 38px ;
}
.parent{
    padding:30px;    
word-wrap: break-word;
}
.parent img{
    object-fit: cover;
    width:80%;
    height:300px;
    border-radius:5px;
}
.childCard img{
    object-fit: cover;
    width:80%;
    height:170px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom:20px;
}

.child {
 
 margin-top:50px;
}
.card {
  padding:30px;
    box-shadow:0px -1px 5px 0px darkgrey;
 }
 .childCard {
     display:flex;
     flex:wrap;
     justify-content: space-between;
     
word-wrap: break-word;
 }
 @media screen and (max-width:800px)
 {
   .childCard{
       display:flex;
        flex-wrap:wrap;
        flex-direction: column-reverse;
        border:1px solid red;
   }
   .childCard img {
       width:100%;
    margin-left:0px;

   }
.parentCard img{
    width:100%
}  

 }
